<h1>Bench Draw Testing</h1>
<div style="width:100%; display:table;">
  <div style="display: table-row">
    <div *ngFor="let bench of benches" style="display: table-cell; width: 5%;">
      <h3>{{bench.name}}</h3>
      <ul class="bench" style="list-style-type:none; width: 65px; margin: 0px;">
        <li *ngFor="let machine of machines">
          <svg width="60" height="60">
            <rect width="50" height="50" style="fill:rgb(0, 255, 33); stroke-width:3;stroke:rgb(0,0,0)" />

          </svg>
          <span class="machine-label">{{machine.name}}</span>
        </li>
      </ul>
    </div>
  </div>
  
</div>

